@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.login-page {
	width: 360px;
	padding: 0 0 30px;
	margin: auto;
}
#logo{
	text-align:center;
	margin:0 auto;
	padding:0 0 0 60px;
}
.join-page {
	width: 550px;
	padding: 8% 0 0;
	margin: auto;
}
.pwfind-page {
	width: 435px;
	padding: 8% 0 0;
	margin: auto;
}
#header{
	text-align:center;
	margin:0 auto;
}
.form {
	text-align:left;
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 360px;
	margin: 0 auto 0;
	padding: 10px 45px 45px 45px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0
		rgba(0, 0, 0, 0.24);
}

.form input {
	outline: 0;
	background: #f2f2f2;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.input100{
	width:100%;
}

.form button {
	font-family:"Nanum Gothic";
	font-weight: 700;
	text-transform: uppercase;
	outline: 0;
	background: #dcccac;
	border: 0;
	padding: 13px;
	color: #FFFFFF;
	font-size: 16px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
	background: #43A047;
}

.form a {
	margin: 15px 0 0;
	font-size: 12px;
	color: #dcccac;
	text-decoration: none;
}
#genCheck{
	text-align:center;
}
#footer{
	text-align:center;
	font-size: 12px;
	color: #dcccac;
}
select {
    width: 200px;
    height: 42px;
    padding-left: 10px;
    font-size: 20px;
    border: 2px solid #4CAF50;
}
.emailform select {
    width: 165px;
    height: 42px;
    padding-left: 10px;
    font-size: 16px;
    border: 2px solid #4CAF50;
}
body {
	background: #76b852; /* fallback for old browsers */
	background: -webkit-linear-gradient(right, #76b852, #8DC26F);
	background: -moz-linear-gradient(right, #76b852, #8DC26F);
	background: -o-linear-gradient(right, #76b852, #8DC26F);
	background: linear-gradient(to left, #76b852, #8DC26F);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#login-error{
	background-color:#FFEAEA;
	border-radius:5px;
	border:1px solid #FF4848;
	color:#FF4848;
	padding:10px;
	margin:5px;
	text-align:center;
}
#login-join{
	border-radius:5px;
	background-color:#EBF7FF;
	color:#4374D9;
	border:1px solid #4374D9;
	padding:10px;
	margin:5px;
	text-align:center;
}