@charset "utf-8";

/* Layout */
#divWrapper{min-width:0;}

/* divGlobalMenu */
#divGlobalMenu{position:relative;z-index:110;}
#divGlobalMenu > div{width:auto;padding:0 20px;}
#divGlobalMenu > div .myMenuBtn{top:71px;right:104px;background:url(../../../../image/ko/local/infoIcoT.png) no-repeat 0 6px;color:#5c5252;text-decoration:underline;}

/* 마이메뉴 */
#divGlobalMenu .myMenu{width:100%;}
#divGlobalMenu .myMenu > div > div{float:none;margin:0 28px}
#divGlobalMenu .myMenu .myMenuList{float:none;margin:20px 28px 0}
#divGlobalMenu .myMenu .summary{overflow:hidden}
#divGlobalMenu .myMenu .close{bottom:auto;top:17px}

/* Header */
.header{width:auto;padding-right:0;}
.header .logo{left:20px;}

/* divTopMenu */
#divTopMenu{display:none;}

/* wholeMenu */
.wholeMenuOpen{right:40px;}
.wholeMenuOpen.on{display:inline-block;top:24px;right:20px;padding:23px 20px;background:#e5e4df;}
.wholeMenu{top:84px;right:20px;width:299px;background:#e5e4df;border:none;}
.wholeMenu > ul > li{height:auto;padding:0;background:none;}
.wholeMenu > ul > li h3{position:static;width:auto;padding-left:26px;margin:0;background:url(../../../../image/ko/local/plus.png) no-repeat 265px 50%;border-bottom:1px solid #5c5252;font-size:16px;cursor:pointer;}
.wholeMenu > ul > li:first-child h3{border-top:none;}
.wholeMenu > ul > li ul{display:none;}
.wholeMenu > ul > li ul li{float:none;height:40px;padding-left:26px;margin-left:0;border-top:1px solid #746c6c;background:#5c5252;font-size:13px;font-weight:600;line-height:40px;}
.wholeMenu > ul > li ul li:first-child{padding-left:26px;border-top:none;background:#5c5252;}
.wholeMenu > ul > li ul li a{display:block;color:#c1c1c1;}
.wholeMenu > ul > li.last h3{border-bottom:none;}
.wholeMenu .wholeMenuClose{display:none;}

/* 전체메뉴 hover */
.wholeMenu.on{display:block;}
.wholeMenu > ul > li.on{background:none;border:none;margin-top:0;}
.wholeMenu > ul > li h3:hover{background:url(../../../../image/ko/local/plus.png) no-repeat 265px 50% #bf4040;border-top:1px solid #bf4040;border-bottom:1px solid #bf4040;color:#fff;margin-top:-1px;}
.wholeMenu > ul > li.on h3{background:url(../../../../image/ko/local/minus.gif) no-repeat 265px 50% #bf4040;border-top:1px solid #bf4040;border-bottom:1px solid #bf4040;margin-top:-1px;}
.wholeMenu > ul > li.on h3 a{color:#fff}
.wholeMenu > ul > li.on ul{display:block;}
.wholeMenu > ul > li.on ul li{background:#5c5252;}
.wholeMenu > ul > li.on ul li:first-child{background:#5c5252;}
.wholeMenu > ul > li.on ul li a{color:#c1c1c1;}
.wholeMenu > ul > li.on ul li a:hover{color:#fff;text-decoration:none;}

/* divContents */
#divContents{width:auto;padding:0 20px 65px 20px;}

/* divSearch */
#divSearch{position:static;padding-top:10px;}
#divSearch form{width:auto;}

/* divTitle */
#divTitle{padding-top:40px;}

/* Tab Menu */
#divTabMenu > div{height:40px;overflow:hidden;position:relative;padding: 0 40px;background-color:#fff}

/* divQuick */
#divQuick{display:none;}

/* footer banner */
.banner > div{width:auto;padding-right:0;}
.banner > div .bannerList{padding-left:20px;}
.banner > div .bannerList li{padding-left:32px;background:url(../../../../image/ko/local/main/bannerBar.png) no-repeat 10px 22px}
.banner > div .bannerList li a img{display:none;}
.banner > div .bannerList li a span{display:block;color:#646464;font-size:12px;}
.banner > div .relatedSite{margin-right:20px;}

/* footer */
.footer{width:auto;padding-left:20px;}